.button {
  position: absolute;
  padding: 15px 0;
  top: 2px;
  right: 2px;
  width: 173px;
  border-radius: 24px;
  border: none;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.11px;
  text-align: center;
  color: #fbfcfe;
  background-color: #ba4270;
  transition: 0.3s ease;
}