.container{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1150px;
}

@media only screen and (max-width:765px) {
    .container {
        padding: 0 15px;
      max-width: 765px;
    }
  
  }

@media only screen and (max-width: 689px){
    .container{
        padding: 0 13px;
        max-width: 689px;
    }
}


@media only screen and (max-width: 375px){
    .container{
        padding: 0 10px;
        max-width: 375px;
    }
}